.productdetail{
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 350px;
  }
  .name {
    margin-top: 20px;
  }
  .actions {
    margin-top: 20px;
  }